MONGO_URI="mongodb+srv://eltonyahmed232_db_user:7IQvf3319Py6VTQB@cluster0.msnzrxb.mongodb.net/veloura?retryWrites=true&w=majority"

JWT_SECRET=veloura_jwt_secret_2026_change_this

PORT=5000

SEED_ADMIN_NAME=Veloura Admin
SEED_ADMIN_EMAIL=admin@veloura.com
SEED_ADMIN_PASSWORD=Admin123!